body {
    background: #222222;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 1rem;
    font-family: "cabin", sans-serif;
    -webkit-print-color-adjust: exact !important ;
}

img{
    width: 1rem;
}

h1,h2,h3{
    padding: 0;
    margin: 0;
}

#conteudo {
    background: white;
    width: 100%;
    height: 100%;
    float: left;
    overflow-y: scroll;
}

header {
    width: 100%;
    height: 100%;
    float: left;
}

#principal {
    width: 100%;
    float: left;
}

header{
    background: rgb(151, 53, 102);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Alinha os itens no meio da pagina */
}

header #info{
    color: pink;
    text-align: center;
    width: 100%;
}

header #info h2{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

header #foto{
    width: 80%;
    height: 50%;
}

header #foto img{
    width: 100%;
    height: 16rem;
}

@media ( min-width: 640px ) and ( min-height: 280px) {
 header{
    flex-direction: row;
 }
 header #foto img{
    width: 75%;
    height: 100%;
 }
}



/*---------------------------------------------*/

#principal{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#principal h2{
    color: rgb(151, 53, 102);
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#principal #cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: pink;
}

#principal #cards div{
    border-radius: 10px;
    background: rgb(151, 53, 102);
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: pink;
}

 #principal h3{
    text-align: center;
 }

#principal h4{
    margin: 0;
    padding: 0.5rem;
    color: white;
}

#principal img{
    border-radius: 5px;
    background: black;
    width: 100%;
    height: 14rem;
}

@media ( min-width: 640px ) and ( min-height: 280px) {
 #principal #cards{
    gap: 1rem;
 }
 #principal #cards div{
    width: 25%;
 }
 #principal img{
    height: 7rem;
 }
 #principal h3{
    margin-top: 1rem;
    font-size: 1rem;
 }
}

@media ( min-width: 1024px ) {
 #principal #cards div{
    width: 20%;
 }
}


/*---------------------------------------------*/

footer{
    float: left;
    width: 100%;
    background: rgb(118, 39, 78);
    color: white;
    text-align: center;
}

/*---------------------------------------------*/

@media ( min-width: 1024px ) {
 h1{
    font-size: 8rem;
 }
 header #info h2{
    font-size: 2rem;
 }
}


@media print {
 header{
  height: 8%;
 }

 header #info{
    display: flex;
    flex-direction: column;
 }

 header #info h2{
    font-size: 1.6rem;
 }

 header h1{
    margin-top: 1rem;
 }

 header #foto{
    display: flex;
    width: 20% ;
    height: initial;
 }

 header #foto img{
    height: 5rem;
 }

 #conteudo {
    overflow-y: initial;
 }

 #principal h2{
    font-size: 3rem;
    margin-top: 3rem;
 }

 #principal #cards div{
    width: 25%;
 }

 #principal #cards img{
    height: 10rem;
 }

 #principal #cards h3{
    font-size: 1.5rem;
    color: white;
 }

 #principal #cards h4{
    font-size: 1.5rem;
    display: none;
 }

 footer{
      margin-top: 1rem;
 }

 footer p{
    font-size: 1.2rem;
 }
}